<div class="gridStyle" ui-grid="gridOptions" external-scopes="ext"></div>
<div style="margin-top:10px">
    <button class="btn btn-primary" ng-click="addCompetitor()">Add Competitor</button>
    <button class="btn btn-primary" ng-click="exportLabels()">Export For Labels</button>
    <button class="btn btn-primary" ng-click="exportPrint()">Export For Competitor Sheet</button>
    <div><a href="../amcan_labels.dotx">Label Mailmerge</a></div>
    <div><a href="../amcan_print.docx">Competitor Print Mailmerge</a></div>
</div>